@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/accessibility";


body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

#root {
    width: 100%;
    background: var(--white);
}

.app_desktop {
    min-width: 1600px;
    position: relative;
}

.app_small-screen {
    min-width: 760px;
    position: relative;
}

.app_mobile {
    min-width: 320px;
    position: relative;
}

.menu-open-body {
    position: fixed;
}

.burger-menu-open-body {
    position: fixed;
}

.menu-open-content {
    padding-right: 65px !important;
}

.menu-open-header {
    right: 65px !important;
}

.menu-open-header-navigator {
    background: var(--white);
}

::-webkit-scrollbar {
    width: 15px; /* Ширина скроллбара */
}

::-webkit-scrollbar-track {
    background: white; /* Цвет дорожки скроллбара */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Цвет ползунка скроллбара */
    border-radius: 10px; /* Радиус скругления ползунка */
}

