.BurgerMenuMobile {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    user-select: none;
}

.burgerMenuMobileEntering {
    opacity: 1;
    z-index: var(--burger-menu-z-index);
}

.burgerMenuMobileEntered {
    opacity: 1;
    z-index: var(--burger-menu-z-index);
}

.burgerMenuMobileExiting {
    opacity: 0;
}

.burgerMenuMobileExited {
    opacity: 0;
}

.overlay {
    width: 100%;
    height: 100%;
    background: var(--blue-grey-opacity);
    position: relative;
    cursor: pointer;
}

.content {
    background: var(--blue-deep);
    position: absolute;
    left: 0;
    right: 0;
    top: var(--header-mobile-height);
    bottom: 0;
    cursor: auto;
}

.contentWrapper {
    padding-inline: 10px;
    padding-block: 20px;
    overflow-y: auto;
}

.spoilersWrapper {
    border-top: 1px solid var(--blue-grey-opacity2);
}
