.Opening {
    height: 937px;
    background: linear-gradient(180deg, var(--white) 38%, var(--blue) 38%);
}

.nameUniversityText {
    width: 812px;
    height: 100px;
}

.specialityUniversityText {
    width: 812px;
    height: 50px;
}

.ratingText {
    width: 408px;
    height: 56px;
}

.experienceText {
    width: 304px;
    height: 56px;
}
