.HeaderSmallScreen {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: var(--header-smallscreen-z-index);
    height: var(--header-smallscreen-height);
    padding-inline: 60px;
}

.light {
    background-color: var(--grey-light-opacity);
}

.dark {
    background: var(--grey-light);
}


