.Menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -5;
    transition: 0.6s opacity;
}


.overlay {
    width: 100%;
    height: 100%;
    background: var(--blue-grey-opacity);
    position: relative;
    cursor: pointer;
}

.content {
    background: var(--white);
    position: absolute;
    left: 50px;
    right: 65px;
    top: 161px;
    height: 641px;
    min-width: 1485px;
    border: 5px solid var(--blue);
    border-top: 0;
    padding-inline: 50px;
    cursor: auto;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--menu-z-index);
}

.isClosing {
    opacity: 0;
}

.menuWrapper {
    width: 100%;
    height: 100%;
}

.title {
    font: var(--font-h2-desktop);
    color: var(--blue);
    padding-top: 20px;
    width: 27%;
    min-width: 420px;
}

.sectionsWrapper {
    width: 73%;
}

.sectionMain {
    color: var(--black);
    font: var(--font-body-l-desktop);
    border-left: 1px solid var(--blue-grey-opacity2);
    padding: 20px 0 0 10px;
    width: 33.3%;
    height: 100%;
}

.subsections {
    padding-left: 30px;
}

.subsection {
    width: 251px;
}
